@font-face {
    font-family: '';
    src: url('http://domain.com/fonts/font.ttf');
}

html {
    background: url("../images/background2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body,html {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.backing {
    /*flex: grow-shrink-basis */
    flex: 1 1 auto;
    margin: 0 auto;
    padding: 0;
    width: 640px;
    background: rgba(255, 251, 255, 0.4);
}

.backing_home {
    /*flex: grow-shrink-basis */
    flex: 1 1 auto;
    margin: 0 auto;
}


.nav {
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    color: #fff;
    background: rgba(10, 4, 4, 0.38);
}

.nav__item {
    display: block;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 18pt;
    font-family: 'Quicksand', bold;
    -webkit-transition: color 0.5s ease, background 0.2s ease;
    transition: color 0.5s ease, background 0.2s ease;
}
.nav__item:visited{
    color: #fff;
}
.nav__item:hover {
    color: #000;
    background: rgb(255, 255, 255);
}



.about, .contact, .home, .portfolio, {

}

.about {
    padding: 2%;
    display: flex;
    flex-flow: row;
    margin-top: 25%;
}

.about__aside {
    min-width: 25%;
    margin-right: 10px;
    background-image: url("../images/picasso.jpg");
    background-size: cover;
}

.about__text {
    text-align: justify;
}

.contact {
    padding: 2%;
    text-align: center;
}

.contact__text {
    font-size: 25pt;
}

.home {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: 'Quicksand', bold;
    /*font-family: 'Courgette';*/
    color: #878787;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;

}

.home__logo {
    font-size: 45pt;
    margin: 5% 0;
}

.home__text {
    font-size: 18pt;
}

.portfolio {
    padding: 2%;
    text-align: center;
}

.portfolio__text {
    font-size: 25pt;
}
