{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Courgette'>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand">
    </head>

    <body>

        <nav class="nav" role="navigation">
            <a href="#" class="nav__item">Home</a>
            <a href="#portfolio" class="nav__item">Portfolio</a>
            <a href="#about" class="nav__item">About</a>
            <a href="#contact" class="nav__item">Contact</a>
        </nav>






        <script data-main="{% static "js/main" %}" src="{% static "js/lib/require.js" %}"></script>
        <script src="//localhost:35729/livereload.js"></script>
    </body>
</html>